[submodule "Frontend"]
	path = Frontend
	url = git@github.com:ECC-Messaging/ECC-Messaging-Front-end.git
	branch = main
[submodule "Package"]
	path = Package
	url = git@github.com:ECC-Messaging/ECC-Messaging-Scheme-Package.git
